@model List<DemoMVC.Models.Student>

<h2>Danh sách sinh viên</h2>

<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Mã sinh viên</th>
            <th>Họ tên</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.StudentCode</td>
                <td>@item.FullName</td>
            </tr>
        }
    </tbody>
</table>